## User Input Array

In [ ]:
a = input().split()
print(a)
print(f'type of a ' , type(a))

In [ ]:
print('Enter element for list with space seprated')
print('Enter size of the list ')
size = int(input())
list = []
list = input().split()

print(list)

In [2]:
print('Jai Swaminarayan \nDas Na Das')

Jai Swaminarayan
Das Na Das

In [3]:
list = [1,3,5,2,1,7,1]
print('contains duplicate - ')
print(list)
set = set(list)
print('Unique values')
print(set)

contains duplicate -
[1, 3, 5, 2, 1, 7, 1]
Unique values
{1, 2, 3, 5, 7}

### Finding element which is uncommon in the list

In [14]:
list1 = [2,1,5]
list2 = [1,3,2]

#cheking with list1 which is not there in list2 -> printing element from 2 but common element will not be consider
[item for item in list2 if item not in list1]

[3]

In [3]:
list1 = [2,1,5]
list2 = [1,3,2]

#result = set(list1) ^ set(list2)
set_1 = set(list1)
set_2 = set(list2)
print(set_1 ^ set_2)

print(7 ^ 8)

{3, 5}
15

### Swaping number from two var

In [8]:
val1 = 1 
val2 = 2

print(f'before swap :- val1 : {val1} and val2 : {val2}')
val1 = val1 ^ val2
val2 = val1 ^ val2
val1 = val1 ^ val2
print(f'After swap :- val1 : {val1} and val2 : {val2}')

before swap :- val1 : 1 and val2 : 2
After swap :- val1 : 2 and val2 : 1